<%= render partial: 'challenges/sidebar' %>
<%= render partial: 'challenges/header', challenge: @challenge %>

<div class="page-content-container">
  <div class="row">
    <div class="col-md-10">
      <% if current_participant == @participant %>
        <%= render partial: 'submissions/index/challenges_submission_header' %>
      <% else %>
        <%= render partial: 'submissions/index/participant_profile_header' %>
      <% end %>

      <%= render partial: 'submissions/index/submission_history', locals: { challenge: @challenge, submissions: @submissions } %>

    </div>
  </div>
</div>
